<% if current_user && current_user.admin %>
  <div class="text-center">
    <%= link_to "Add Startup", new_startup_path(), :class => 'button alert radius' %>
  </div>
<% end %>

<% if alert %>
<div class="row">
  <div class="large-12 columns">
    <div data-alert class="alert-box radius alert">
      <%= alert %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>

<div class="row startup-list">

  <% @startups.each do |startup| %>

    <div class="large-6 columns">
      <div class="startup">
      
      <div class="row">
        <%= image_tag(startup.img_url) %>

        <h3 class="startup-name"><%= startup.name %></h3>
        <% if current_user && current_user.admin %>
           <p class="ceo-name">
            <span class="pitched-by">Pitched By: </span><%= startup.ceo_name %><br />
            <span class="pitched-by">Order: </span><%= startup.presentation_order %><br />
            <%= startup.email %>
          </p>
        <% else %>
          <p class="ceo-name">
            <span class="pitched-by">Pitched By: </span><br />
            <%= startup.ceo_name %>
          </p>
        <% end %>

      </div>

      <% if current_user && current_user.admin %>

        <div class="small-6 columns no-left-padding">
          <%= link_to "Edit", edit_startup_path(startup), :class => 'button radius alert expand' %>
        </div>
        <div class="small-6 columns no-right-padding">
          <%= link_to "Delete", startup_path(startup), :method => :delete, :class => 'button radius alert expand' %>
        </div>

      <% else %>

        <% if current_user %>

          <% if angellist_user? %>
            <div class="small-6 columns no-left-padding">
              <%= link_to "Follow On Angellist", { :controller => "startups", :action => "follow", :angellist_id => startup.angellist_id }, :class => 'button alert radius expand' %>
            </div>
            <div class="small-6 columns no-right-padding">
              <%= link_to "Email Contact Info", { :controller => "startups", :action => "send_email", :id => startup.id }, :class => 'button alert radius expand' %>
            </div>
          <% else %>
            <div class="small-12 columns no-right-padding">
              <%= link_to "Email Contact Info", { :controller => "startups", :action => "send_email", :id => startup.id }, :class => 'button alert radius expand' %>
            </div>
          <% end %>

        <% else %>

          <%= link_to "Contact Startup", {}, :class => 'button alert radius expand', :'data-reveal-id' => 'signIn' %>

        <% end %>

      <% end %>

      <p class="bio"><%= startup.bio %></p>

      </div>
    </div>

  <% end %>
</div>

<div id="signIn" class="reveal-modal small text-center">
  <%= render 'layouts/login_form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>