<div class="row startup-list">
  <% @startups.each do |startup| %>

    <div class="large-6 columns">
      <div class="startup">
      
      <div class="row">
        <%= image_tag(startup.img_url) %>

        <h3 class="startup-name"><%= startup.name %></h3>
        <p class="ceo-name">
          <span class="pitched-by">Pitched By: </span><br />
          <%= startup.ceo_name %>
        </p>
      </div>

      <% if current_user %>
        <div class="small-6 columns no-left-padding">
          <%= link_to "Follow On Angellist", { :controller => "startups", :action => "follow", :angellist_id => startup.angellist_id }, :class => 'button alert radius expand' %>
        </div>
        <div class="small-6 columns no-right-padding">
          <%= link_to "Email Contact Info", {}, :class => 'button alert radius expand' %>
        </div>
        <% else %>
          <%= link_to "Contact Startup", {}, :class => 'button alert radius expand' %>
      <% end %>

      <p class="bio"><%= startup.bio %></p>
      </div>
    </div>

  <% end %>
</div>

<!--
<div class="row">

  <% @startups.each do |startup| %>

    <div class="large-4 columns">
      <img class="left" src="http://demodaybuddy.herokuapp.com/assets/fp.png">
      <div class="left">
        <h3><%= startup.name %></h3>
        <h5>Pitched by:<br/><%= startup.ceo_name %></h5>
      </div>
    </div>

    <div class="large-5 columns description">
      <p><%= startup.bio %></p>
    </div>

    <div class="large-3 columns contact">
      <% if !current_user %>
        <%= link_to "Follow Startup", { :controller => "startups", :action => "follow", :angellist_id => startup.angellist_id }, :class => 'button success radius' %>
        <%= link_to "Email Startup", {}, :class => 'button success radius' %>
      <% else %>
        <%= link_to "Contact Startup", {}, :class => 'button success radius' %>
      <% end %>
    </div>

  <% end %>

</div>
-->