<% if current_user && current_user.admin %>
  <div class="text-center">
    <%= link_to "Add Startup", new_startup_path(), :class => 'button alert radius' %>
  </div>
<% end %>

<% if alert %>
<div class="row">
  <div class="large-12 columns">
    <div data-alert class="alert-box radius alert">
      <%= alert %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>

<div class="row startup-list">

  <% @startups.each do |startup| %>

    <div class="large-6 columns">
      <div class="startup">
      
      <div class="row">
        <% unless startup.img_url = '.jpg' %>
          <%= image_tag(startup.img_url) %>
        <% end %>

        <h3 class="startup-name"><%= startup.name %></h3>
        <% if current_user && current_user.admin %>
           <p class="ceo-name">
            <span class="pitched-by">Pitched By: </span><%= startup.ceo_name %><br />
            <span class="pitched-by">Order: </span><%= startup.presentation_order %><br />
            <%= startup.email %>
          </p>
        <% else %>
          <p class="ceo-name">
            <span class="pitched-by">Pitched By: </span><br />
            <%= startup.ceo_name %>
          </p>
        <% end %>

      </div>

      <% if current_user && current_user.admin %>

        <div class="small-6 columns no-left-padding">
          <%= link_to "Edit", edit_startup_path(startup), :class => 'button radius alert expand' %>
        </div>
        <div class="small-6 columns no-right-padding">
          <%= link_to "Delete", startup_path(startup), :method => :delete, :class => 'button radius alert expand' %>
        </div>

      <% else %>

        <% if current_user %>

          <% if angellist_user? %>

            <% if startup.angellist_id %>
              <div class="small-6 columns no-left-padding">
                <!--<%= link_to "Follow On Angellist", { :controller => "angellist_follows", :action => "create", :angellist_id => startup.angellist_id }, :class => 'button alert radius expand' %>-->
                <!--<%= link_to "Follow On Angellist", angellist_follows_path(params: { angellist_id: startup.angellist_id }), :class => 'button alert radius expand follow', remote: true, :method => :post %>-->
                <% if following_startup?(startup.id) %>
                  <%= link_to "Follow On Angellist", '#', :class => 'button alert radius expand follow', :'data-angellist_id' => startup.angellist_id, :'data-startup_id' => startup.id %>
                <% else %>
                  <%= link_to "Following", '#', :class => 'button alert radius expand following', :'data-angellist_id' => startup.angellist_id, :'data-startup_id' => startup.id %>
                <% end %>
              </div>
              <div class="small-6 columns no-right-padding">
                <!--<%= link_to "Email Contact Info", { :controller => "email_contacts", :action => "create", :id => startup.id }, :class => 'button alert radius expand email-ceo' %>-->
                <% if sent_email?(startup.id) %>
                  <%= link_to "Email Contact Info", '#', :class => 'button alert radius expand email-ceo', :'data-startup_id' => startup.id %>
                <% else %>
                  <%= link_to "Contacted", '#', :class => 'button alert radius expand email-ceo following', :'data-startup_id' => startup.id %>
                <% end %>
              </div>

            <% else %>

              <div class="small-12 columns no-right-padding">
                <% if sent_email?(startup.id) %>
                  <%= link_to "Email Contact Info", '#', :class => 'button alert radius expand email-ceo', :'data-startup_id' => startup.id %>
                <% else %>
                  <%= link_to "Contacted", '#', :class => 'button alert radius expand email-ceo following', :'data-startup_id' => startup.id %>
                <% end %>
              </div>

            <% end %>
          <% else %>

            <div class="small-12 columns no-right-padding">
              <% if sent_email?(startup.id) %>
                  <%= link_to "Email Contact Info", '#', :class => 'button alert radius expand email-ceo', :'data-startup_id' => startup.id %>
                <% else %>
                  <%= link_to "Contacted", '#', :class => 'button alert radius expand email-ceo following', :'data-startup_id' => startup.id %>
                <% end %>
            </div>

          <% end %>

        <% else %>

          <%= link_to "Contact Startup", {}, :class => 'button alert radius expand', :'data-reveal-id' => 'signIn' %>

        <% end %>

      <% end %>

      <p class="bio"><%= startup.bio %></p>

      </div>
    </div>

  <% end %>
</div>

<div id="signIn" class="reveal-modal small text-center">
  <%= render 'layouts/login_form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>