<div class="row">
  <div class="large-5 small-centered columns text-center">
    <!--<button id="pull-from-angellist" class="button alert radius">Pull Info From Angellist</button>-->
    <button id="pull-angellist-id" class="button alert radius">Find Angellist ID</button>
  
    <br /><br />

    <%= form_for @startup do |f| %>

    <div class="row">
      <div class="large-6 small-centered columns">
        <%= f.label "Angellist Id:" %>
        <%= f.text_field :angellist_id %>
      </div>
    </div>

      <div class="row">

      <%= f.label "Company Name:" %>
      <%= f.text_field :name %>

      <%= f.label "Company Bio:" %>
      <%= f.text_field :bio %>

      <%= f.label "Pitched By:" %>
      <%= f.text_field :ceo_name %>

      <%= f.label "Contact Email Address:" %>
      <%= f.text_field :email %>

      <%= f.label "Image:" %>
      <%= f.file_field :avatar %>

      <%= f.label "Presentation Order:" %>
      <%= f.text_field :presentation_order %>
      
      <%= f.submit :class => 'button radius alert' %>

    <% end %>

  </div>
</div>