<%= link_to "Add Startup", new_startup_path() %>

<div class="row">

  <% @startups.each do |startup| %>

    <div class="large-4 columns">
      <img class="left" src="http://demodaybuddy.herokuapp.com/assets/fp.png">
      <div class="left">
        <h3><%= startup.name %></h3>
        <h5>Pitched by:<br/><%= startup.ceo_name %></h5>
      </div>
    </div>

    <div class="large-5 columns description">
      <p><%= startup.bio %></p>
    </div>

    <div class="large-3 columns contact">
      <%= link_to "Edit", edit_startup_path(startup), :class => 'button radius small' %>
      <%= link_to "Delete", startup_path(startup), :method => :delete, :class => 'button radius small' %>
    </div>

  <% end %>

</div>